{% load static %} 
    <div class="card">
    <div class="card-body">
        <div class="row">
        <div class="col-2">
            <div style="height: 70px" class="border mb-2 w-100">
            <img 
                src={%static "/img/another_avatar.jpeg"%} 
                alt="img" 
                class="img-fluid">
            </div>
            <div>
            <input type="number" class="form-control" value="5">
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-between">
            <div>
                <h5 class="card-title">
                    <a href="#">{{answer.title}}</a>
                </h5>
                <p class="card-text">{{answer.text}}</p>
            </div>
            <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                    <label class="form-check-label" for="checkDefault">
                        Correct
                    </label>
                </div>
            </div>
            
            </div>
        </div>
        </div>
        
    </div>
    </div>