<nav aria-label="Page navigation example">
    <ul class="mb-0 pagination">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
    {% endif %}
    {% for page_index in page_range %}
        {% if page_index == '...' %}
            <li class="page-item"><a class="page-link" href="#">{{page_index}}</a></li>
        {% elif page_index == page_obj.number %}
            <li class="border border-primary page-item"><a class="page-link" href="?page={{page_index}}">{{page_index}}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{page_index}}">{{page_index}}</a></li>
        {% endif %}    
    {% endfor %}
    
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
    {% endif %}    
    </ul>
</nav>